<!DOCTYPE html>
<html>
  <% include ../header %>
  <body>
    <% include ../menu %>
    <p><h3 class="section-heading">Movie Create</h3></p>
    <form id="createForm">
      <!-- Material input -->
      <div class="md-form">
        <input
          type="text"
          class="form-control"
          id="title"
          required
        /> 
        <label for="title">input title</label>
      </div>
      <div class="md-form">
        <input
          type="text"
          class="form-control"
          id="director"
          required
        /> 
        <label for="director">input director</label>
      </div>
      <div class="md-form">
        <input
          type="text"
          class="form-control"
          id="year"
          required
        /> 
        <label for="year">input year</label>
      </div>
      <button class="btn btn-primary">저장</button>
    </form>
    <% include ../footer %>
    <script type="text/javascript">
      $(function () {
        $("#createForm").submit(function (event) {
          event.preventDefault();
          // 등록
          const title = $("#title").val();
          const director = $("#director").val();
          const year = $("#year").val();

          $.ajax({
            url: "/api/movie",
            type: "POST",
            data: { title, director, year },
            success: function () {
              location.href = "/api/movie";
            },
            error: function (request, status, error) {
              alert(request.responseText);
            },
          });
        });
      });
    </script>
  </body>
</html>
