<!DOCTYPE html>
<html>
  <% include ../header %>
  <body>
    <% include ../menu %>
    <p><h3 class="section-heading">Music Update</h3></p>
    <form id="updateForm">
      <div class="md-form">
        <input 
          type="text"
          class="form-control"
          id="singer"
          value="<%= result.singer %>"
          required
        /> 
        <label for="singer">input singer</label>
      </div>
      <div class="md-form">
        <input
          type="text"
          class="form-control"
          id="title"
          value="<%= result.title %>"
          required
        /> 
        <label for="title">input title</label>
      </div>
      <button class="btn btn-primary">저장</button>
    </form>
    <% include ../footer %>
    <script type="text/javascript">
      $(function () {
        $("#updateForm").submit(function (event) {
          event.preventDefault();
          // 수정        
          const singer = $("#singer").val();
          const title = $("#title").val();

          $.ajax({
            url: "/api/music/<%= result.id %>",
            type: "PUT",
            data: { singer, title },
            success: function () {
              location.href = "/api/music/<%= result.id %>";
            },
            error: function (request, status, error) {
              alert(request.responseText);
            },
          });
        });
      });
    </script>
  </body>
</html>
